#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

PYTHON2=$(shell pyversions -vr)
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
foo := a.o b.o c.o
bar := $(foo:.o=.c)

%:
	dh $@ --with python2


#build-python%:
#	python setup.py build
#
#override_dh_auto_build: $(PYTHON2:%=build-python%)
#	dh_auto_build
#override_dh_auto_build:
#	dh_auto_build
#override_dh_auto_install:
#	dh_auto_install
#install-python%:
install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp \
      --force --no-compile -O0 --install-layout=deb


#override_dh_auto_install: $(PYTHON2:%=install-python)
override_dh_auto_install: $(PYTHON2:%=install-python%)
	dh_auto_install
#install -D -m 0600 $(CURDIR)/debian/nbsagent.conf.dist $(CURDIR)/debian/python-tornado/etc/tornado/nbsagent.conf

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf dist
	rm -rf *.egg-info
	echo $(CURDIR)
	echo  $(PYTHON2)
	echo  $(PYTHON2:%=install-python%)
	echo $(bar)





